{% extends "layout.html.twig" %}
{% block content %}

    <div class="container">

        <div class="panel panel-default">

            <div class="panel-heading"><b>RUN</b>
                {% if query is not empty %}
                    <a href="{{ path('tabela', { nome : query.tabela.nome }) }}" class="btn btn-success pull-right">{{ query.tabela.nomeFormatado }}</a>
                {% endif %}</div>

            <div class="panel-body">

                {% if log|length > 0 %}
                    <div class="alert alert-danger">
                        <p class="lead">{{ log }}</p>
                        {% if query is not empty %}
                            <a class="btn btn-danger" href="/query/edit/{{ query.id }}">Corrigir Query</a>
                        {% endif %}
                    </div>
                {% endif %}

                {% if parametros|length > 0 %}

                    <div class="panel panel-default">

                        <div class="panel-heading">Formulário</div>

                        <div class="panel-body">

                            <div class="alert alert-info">
                                <p>Esta Query possui Parametros</p>
                            </div>

                            <form class="form-horizontal">

                                {% for parametro in parametros %}

                                    <input type="hidden" id="{{ parametro }}-i">

                                    <div class="form-group">
                                        <label class="control-label col-sm-2">{{ parametro }}:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control parametro"
                                                   data-param="{{ parametro }}"
                                                   name="{{ parametro }}" id="{{ parametro }}"/>
                                        </div>
                                    </div>

                                {% endfor %}

                                <div class="form-group">
                                    <label class="control-label col-sm-2">Query:</label>
                                    <div class="col-sm-10">
                                        <pre><textarea class="form-control" id="query-view"
                                                       rows="12">{{ query.query }}</textarea></pre>
                                    </div>
                                </div>

                                <button class="btn btn-info">Executar</button>


                            </form>

                        </div>
                    </div>

                {% endif %}


                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">
                        Exportar
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="export" data-type="excel">EXCEL</a></li>
                        <li><a href="#" class="export" data-type="pdf">PDF</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" class="export" data-type="json">JSON</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" class="export" datatype="csv">CSV</a></li>
                    </ul>
                </div>


                <table class="table table-bordered table-responsive table-hover"
                       data-toggle="table" data-striped="true" data-search="true"
                       data-show-toggle="true" data-show-columns="true" data-pagination="true" id="tableExport">

                    {% if columns|length > 0 %}
                        <thead>
                        <tr>
                            {% for column in columns %}
                                <th>{{ column }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                    {% endif %}

                    <tbody>
                    {% for itens in result %}
                        <tr>
                            {% for item in itens %}
                                {% if item is iterable %}
                                    <td>{% if item.tabela is not empty %}<a
                                            href="/execute/{{ item.tabela }}/{{ item.coluna }}/{{ item.valor }}">
                                            {% if item.label is not empty %}{{ item.label }}{% else %}{{ item.valor }}{% endif %}</a>
                                        {% else %}{{ item.valor }}{% endif %}</td>
                                {% else %}
                                    <td>{{ item }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>

            </div>
        </div>
    </div>

{% endblock %}

{% block js %}

    <script>

        $(document).ready(function () {

            $(".parametro").blur(function () {

                var paramns = [];

                var valor = $(this).val();

                if (!valor) {
                    return;
                }

                var nomeParam = $(this).data('param');
                var item = $("#" + nomeParam + "-i");

                if (!item.val()) {
                    item.val(valor);
                }

                var i = item.val();

                var target = ':' + nomeParam + ':';

                var view = $("#query-view");
                var v = view.val().replace(target, valor);

                if (valor !== i) {
                    v = view.val().replace(i, valor);
                }

                paramns.push(target + '=' + valor);
                $("#parametros").val(paramns.toString());
                view.val(v);
            });


            $(".export").click(function () {

                var separator;
                var type = $(this).data('type');

                if ('csv' === type) {
                    separator = ",";
                }

                $('#tableExport').tableExport({
                    separator: separator,
                    tableName: '{% if query|length > 0 %}{{ query.nome }}{% endif %}',
                    type: $(this).data('type'),
                    escape: 'false',
                    pdfFontSize: 11,
                    pdfLeftMargin: 20,
                    consoleLog: 'true'
                });
            })

        });

    </script>

{% endblock %}

