{% extends "layout.html.twig" %}

{% block css %}

    <style>

        .buttonsi > button {
            display: none;
        }

        .buttonsi > .btn-group {
            display: none;
        }

        .buttonsi:hover > button {
            float: right;
            display: table;
        }

        .buttonsi:hover > .btn-group {
            float: right;
            display: table;
        }

    </style>

{% endblock %}

{% block content %}

    <div class="container">

        <div class="panel panel-default">
            <div class="panel-heading">Criar Query</div>
            <div class="panel-body">

                <form action="/query/create" method="post" class="form-horizontal">
                    <input type="hidden" name="table" value="{{ table.id }}"/>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Selecionar:</label>
                        <div class="col-sm-10">
                            <select class="selectpicker colunas" multiple data-actions-box="true"
                                    data-selected-text-format="count" show-tick="true" title="Nada Selecionado"
                                    data-live-search="true" data-width="100%"
                                    name="select[]">
                                {% for column in columns %}
                                    <option selected="selected" value="{{ column.id }}">{{ column.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Unir Com:</label>
                        <div class="col-sm-10">
                            <select class="selectpicker" multiple data-actions-box="true" title="Nada Selecionado"
                                    data-width="100%"
                                    data-live-search="true" id="union" name="inner[]">
                                {% for item in union %}
                                    <option value="{{ item.id }}">{{ item.tabela.nomeFormatado }}
                                        - {{ item.nomeFormatado }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Onde:</label>
                        <div class="col-sm-10">
                            <select class="selectpicker" multiple data-actions-box="true" title="Nada Selecionado"
                                    data-width="100%"
                                    data-live-search="true" name="where[]">
                                {% for column in columns %}
                                    <option value="{{ column.id }}">{{ column.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Agrupado Por:</label>
                        <div class="col-sm-10">
                            <select class="selectpicker" multiple data-actions-box="true" title="Nada Selecionado"
                                    data-width="100%"
                                    data-live-search="true" name="groupBy[]">
                                {% for column in columns %}
                                    <option value="{{ column.id }}">{{ column.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Ordenado Por:</label>
                        <div class="col-sm-10">
                            <select class="selectpicker" multiple data-actions-box="true" title="Nada Selecionado"
                                    data-width="100%"
                                    data-live-search="true" name="orderBy[]">
                                {% for column in columns %}
                                    <option value="{{ column.id }}">{{ column.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Limite:</label></label>
                        <div class="col-sm-10">
                            <select class="selectpicker" data-actions-box="true" name="limit" title="Nada Selecionado">
                                <option value="">Tudo</option>
                                <option value="10" selected>10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-primary">Criar Query</button>
                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Queries</div>
            <div class="panel-body">
                <table class="table table-bordered table-responsive table-hovered">
                    <tbody>
                    {% for query in queries %}
                        <tr>
                            <th><a href="{{ path('query_execute', { id : query.id }) }}">{{ query.nome }}</a>
                                <button data-redirect="/tabela/{{ query.tabela.nome }}" data-url-remove-query="/query/{{ query.id }}/remove"
                                        class="btn btn-danger pull-right remove-query">Deletar
                                </button>
                                <a href="{{ path('query_edit', { id : query.id }) }}" class="btn pull-right">Editar Query</a>
                            </th>
                        </tr>
                    {% else %}
                        <tr><td>Nenhuma Query vinculada com esta tabela</td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default">

            <div class="panel-heading">Colunas</div>

            <div class="panel-body">

                <table class="table table-bordered table-responsive table-hovered">
                    <thead>
                    <tr>
                        <th>Coluna</th>
                        <th>Tipo</th>
                        <th>Chave Primária</th>
                        <th>Label</th>
                        <th>Identificador</th>
                        <th>Tabela Referenciada</th>
                        <th>Mostrar</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for column in columns %}
                        <tr>
                            <td>{{ column.nome }}</td>
                            <td>{{ column.tipo|upper }}</td>
                            <td>{% if column.chavePrimaria %}Sim{% else %}Não{% endif %}</td>
                            <td class="buttonsi">{% if column.label %}Sim{% else %}Não{% endif %}

                                {% if column.label is empty %}
                                    <button data-coluna="{{ column.id }}" data-acao="Adicionar" class="btn
                                btn-success btn-xs btnAddLabel">
                                        Adicionar
                                    </button>
                                {% else %}
                                    <button data-coluna="{{ column.id }}" data-acao="Remover" class="btn
                                btn-danger btn-xs btnAddLabel">
                                        Remover
                                    </button>
                                {% endif %}

                            </td>

                            <td class="buttonsi">{{ column.identificador }}
                                {% if column.identificador is not empty %}
                                    <button data-coluna="{{ column.id }}" class="btn
                                btn-primary btn-xs btnAddIdentificado">
                                        Editar
                                    </button>
                                {% else %}
                                    <button data-coluna="{{ column.id }}" class="btn
                                btn-success btn-xs btnAddIdentificado">
                                        Adicionar
                                    </button>
                                {% endif %}

                            </td>

                            <td class="buttonsi">{% if column.tabelaRef|length > 0 %}<a
                                    href="/tabela/{{ column.tabelaRef.nome }}">
                                    {{ column.tabelaRef.nome|capitalize }}</a>

                                    <div class="btn-group" role="group" aria-label="...">
                                        <button data-coluna="{{ column.id }}"
                                                class="btn btn-primary btn-xs btnAddTabela">Tocar
                                        </button>
                                        <button data-coluna="{{ column.id }}"
                                                class="btn btn-danger btn-xs btnARmTabela">Remover
                                        </button>
                                    </div>

                                {% else %}
                                    <button data-coluna="{{ column.id }}" class="btn btn-success btn-xs btnAddTabela">
                                        Adicionar
                                    </button>
                                {% endif %}</td>

                            <td><input type="checkbox" data-coluna="{{ column.id }}" class="form-control btnSetShow"
                                       value="{{ column.visualizar }}"
                                       {% if column.visualizar is not empty %}checked{% endif %}/></td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>

            </div>

        </div>

    </div>

{% endblock %}

{% block js %}

    <script>

        $(document).ready(function () {

            $("#inner").click(function () {

                var _this = $(this);

                $('.colunas').val('');


            });

            $('.btnSetShow').change(function () {

                var _this = $(this);

                $.post({
                    type: "POST",
                    url: '/api/tratar-mostrar-coluna',
                    data: {
                        coluna: _this.data('coluna')
                    }
                }).done(function (data) {

                    swal(
                        'Sucesso!',
                        data.mensagem,
                        'success'
                    ).then(
                        function () {
                        })

                })
                    .fail(function (data) {
                        swal(
                            'Error!',
                            data.mensagem,
                            'error'
                        )
                    });

            });


            $('.btnAddLabel').click(function () {

                var _this = $(this);

                swal({
                    title: 'Atenção',
                    text: "Deseja " + _this.data('acao') + " esta Label?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Sim',
                    cancelButtonText: 'Cancelar'
                }).then(function () {

                    $.post({
                        type: "POST",
                        url: '/api/adicionar-label',
                        data: {
                            coluna: _this.data('coluna')
                        }
                    }).done(function (data) {

                        swal(
                            'Sucesso!',
                            data.mensagem,
                            'success'
                        ).then(
                            function () {
                                window.location.reload();
                            })

                    })
                        .fail(function () {
                            swal(
                                'Error!',
                                data.mensagem,
                                'error'
                            )
                        });

                })

            });

            $('.btnARmTabela').click(function () {

                var _this = $(this);

                $.post({
                    type: "POST",
                    url: '/api/remover-vinculo-coluna-tabela',
                    data: {
                        coluna: _this.data('coluna')
                    }
                }).done(function (data) {

                    swal(
                        'Sucesso!',
                        data.mensagem,
                        'success'
                    ).then(
                        function () {
                            window.location.reload();
                        })

                })
                    .fail(function () {
                        swal(
                            'Error!',
                            data.mensagem,
                            'error'
                        )
                    });

            });

            $('.btnAddTabela').click(function () {

                var _this = $(this);

                $.get('/api/tabelas', function (data) {
                    swal({
                        title: 'Selecione uma Tabela',
                        input: 'select',
                        inputOptions: data,
                        inputPlaceholder: 'Selecione a Tabela',
                        showCancelButton: true,
                        inputValidator: function (value) {
                            _this.val(value);
                            return new Promise(function (resolve, reject) {
                                if (value !== '') {
                                    resolve()
                                } else {
                                    reject('Selecione uma tabela válida')
                                }
                            })
                        }
                    }).then(function (result) {

                        $.post({
                            type: "POST",
                            url: '/api/vincular-coluna-tabela',
                            data: {
                                tabela: _this.val(),
                                coluna: _this.data('coluna')
                            }
                        }).done(function () {

                            swal(
                                'Sucesso!',
                                data.mensagem,
                                'success'
                            ).then(
                                function () {
                                    window.location.reload();
                                })

                        })
                            .fail(function () {
                                swal(
                                    'Error!',
                                    data.mensagem,
                                    'error'
                                )
                            });

                    })
                });


            })

            $('.btnAddIdentificado').click(function () {

                var _this = $(this);

                swal({
                    title: 'Identificador',
                    input: 'text',
                    inputPlaceholder: 'Selecione a Tabela',
                    showCancelButton: true,
                    inputValidator: function (value) {
                        _this.val(value);
                        return new Promise(function (resolve, reject) {
                            if (value !== '') {
                                resolve()
                            } else {
                                reject('Selecione uma tabela válida')
                            }
                        })
                    }
                }).then(function (result) {

                    $.post({
                        type: "POST",
                        url: '/api/adicionar-identificador-coluna',
                        data: {
                            identificador: _this.val(),
                            coluna: _this.data('coluna')
                        }
                    }).done(function (data) {

                        swal(
                            'Sucesso!',
                            data.mensagem,
                            'success'
                        ).then(
                            function () {
                                window.location.reload();
                            })

                    })
                        .fail(function (data) {
                            swal(
                                'Error!',
                                data.mensagem,
                                'error'
                            )
                        });
                })

            })

        });

        $(".remove-query").click(function (e) {

            e.preventDefault();

            var url = $(this).data('url-remove-query');
            var redirect = $(this).data('redirect');

            swal({
                title: 'Atenção',
                text: "Deseja mesmo deletar esta query?",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim',
                cancelButtonText: 'Cancelar'
            }).then(function () {

                jQuery.post({
                    type: "POST",
                    url: url,
                }).done(function () {

                    swal(
                        'Sucesso!',
                        'A query foi deletada!',
                        'success'
                    ).then(
                        function () {
                            parent.window.location.href = redirect;
                        })

                })
                    .fail(function () {
                        swal(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                        )
                    })
            })



        })

    </script>

{% endblock %}

