{% extends "layout.html.twig" %}

{% block css %}

<style>

    .buttonsi > button {
        display: none;
    }

    .buttonsi > .btn-group{
        display: none;
    }

    tr:hover > .buttonsi > button{
        float: right;
        display: table;
    }

    tr:hover > .buttonsi > .btn-group{
        float: right;
        display: table;
    }

</style>

{% endblock %}

{% block content %}

    <div class="container">

        <div class="panel panel-default">

            <div class="panel-heading">Criar Query</div>

            <div class="panel-body">

                <form action="/query/create" method="post">

                    <input type="hidden" name="table" value="{{ table.id }}"/>

                    <label>Selecionar:
                        <select class="selectpicker" multiple data-actions-box="true"
                                data-selected-text-format="count" show-tick="true" data-live-search="true"
                                name="select[]">
                            {% for column in columns %}
                                <option selected="selected" value="{{ column.id }}">{{ column.nome }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label>Onde:
                        <select class="selectpicker" multiple data-actions-box="true" title="Nada Selecionado"
                                data-live-search="true" name="where[]">
                            {% for column in columns %}
                                <option value="{{ column.id }}">{{ column.nome }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label>Agrupado Por:
                        <select class="selectpicker" multiple data-actions-box="true" title="Nada Selecionado"
                                data-live-search="true" name="groupBy[]">
                            {% for column in columns %}
                                <option value="{{ column.id }}">{{ column.nome }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label>Ordenado Por:
                        <select class="selectpicker" multiple data-actions-box="true" title="Nada Selecionado"
                                data-live-search="true" name="orderBy[]">
                            {% for column in columns %}
                                <option value="{{ column.id }}">{{ column.nome }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label>Limit:
                        <select class="selectpicker" data-actions-box="true" name="limit">
                            <option value="">Tudo</option>
                            <option value="10" selected>10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </label>
                    <button class="btn btn-primary">Criar Query</button>

                </form>

            </div>

        </div>

        <div class="panel panel-default">

            <div class="panel-heading">Colunas</div>

            <div class="panel-body">

                <table class="table table-bordered table-responsive table-hovered">
                    <thead>
                    <tr>
                        <th>Coluna</th>
                        <th>Tipo</th>
                        <th>É Chave Primaria</th>
                        <th>Tabela Referenciada</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for column in columns %}
                        <tr>
                            <td><a>{{ column.nome }}</a></td>
                            <td>{{ column.tipo|upper }}</td>
                            <td>{% if column.chavePrimaria %}Sim{% else %}Não{% endif %}</td>
                            <td class="buttonsi">{% if column.tabelaRef|length > 0 %}<a
                                    href="/tabela/{{ column.tabelaRef.nome }}">{{ column.tabelaRef.nome }}</a>

                                    <div class="btn-group" role="group" aria-label="...">
                                        <button data-coluna="{{ column.id }}" class="btn btn-sm btnAddTabela">Tocar</button>
                                        <button data-coluna="{{ column.id }}" class="btn btn-sm btnARmTabela">Remover</button>
                                    </div>

                                {% else %}
                                    <button data-coluna="{{ column.id }}" class="btn btn-sm btnAddTabela">
                                        Adicionar</button>
                                {% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>

            </div>

        </div>

    </div>

{% endblock %}

{% block js %}

    <script>

        $(document).ready(function () {

            $('.btnARmTabela').click(function () {

                var _this = $(this);

                $.post({
                    type: "POST",
                    url: '/api/remover-vinculo-coluna-tabela',
                    data: {
                        coluna: _this.data('coluna')
                    }
                }).done(function (data) {

                    swal(
                        'Sucesso!',
                        data.mensagem,
                        'success'
                    ).then(
                        function () {
                            //parent.window.location.href = redirect;
                        })

                })
                    .fail(function () {
                        swal(
                            'Error!',
                            data.mensagem,
                            'error'
                        )
                    });

            });

            $('.btnAddTabela').click(function () {

                var _this = $(this);

                $.get('/api/tabelas', function (data) {
                    swal({
                        title: 'Slecione uma Tabela',
                        input: 'select',
                        inputOptions: data,
                        inputPlaceholder: 'Selecione a Tabela',
                        showCancelButton: true,
                        inputValidator: function (value) {
                            _this.val(value);
                            return new Promise(function (resolve, reject) {
                                if (value !== '') {
                                    resolve()
                                } else {
                                    reject('Selecione uma tabela válida')
                                }
                            })
                        }
                    }).then(function (result) {

                        $.post({
                            type: "POST",
                            url: '/api/vincular-coluna-tabela',
                            data: {
                                tabela: _this.val(),
                                coluna: _this.data('coluna')
                            }
                        }).done(function () {

                            swal(
                                'Sucesso!',
                                data.mensagem,
                                'success'
                            ).then(
                                function () {
                                    //parent.window.location.href = redirect;
                                })

                        })
                            .fail(function () {
                                swal(
                                    'Error!',
                                    data.mensagem,
                                    'error'
                                )
                            });

                    })
                });


            })

        });

    </script>

{% endblock %}

